<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="displayName" value="Tufan YILMAZ" />
    <add key="userName" value="merkez.test@kep.turkkep.com.tr" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthenticationSoap" />
        <binding name="KepServicesSoap" maxReceivedMessageSize="64000000" />
        <binding name="KEPRetrievalSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="KEPRetrievalSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.240:90/services/Authentication.asmx"
        binding="basicHttpBinding" bindingConfiguration="AuthenticationSoap"
        contract="Authentication.AuthenticationSoap" name="AuthenticationSoap" />
      <endpoint address="http://192.168.2.240:90/services/KepServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="KepServicesSoap"
        contract="KepServices.KepServicesSoap" name="KepServicesSoap" />
      <endpoint address="https://eriwstest.turkkep.com.tr/KEPWSClient/KEPRetrieval"
        binding="basicHttpBinding" bindingConfiguration="KEPRetrievalSoapBinding"
        contract="KEPAlim.KEPRetrieval" name="KEPRetrievalPort" />
    </client>
  </system.serviceModel>
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>